.game {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #ffffff;

    .section {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 3px solid #293132;
        border-top: none;

        &.section-game {
            justify-content: center;
            flex-basis: 75%;
        }

        &.section-score {
            padding: 20px;
            flex-basis: 25%;
            background: #4f5165;
        }

        &.section-join {
            justify-content: center;
            align-content: center;
            flex-basis: 75%;
            background: #547aa5;
        }

        .sub-section {
            position: relative;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &.sub-section-question {
                align-items: center;
                height: 75%;
                background: #547aa5;

                &.no-response {
                    height: 100%;
                }
            }

            &.sub-section-prompt {
                height: 25%;
                background: #293132;
                border-top: 3px solid #293132;
            }
        }
    }
}
