.score {
    .title {
        font-size: 26px;
    }

    .player-score {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;

        &.score-updated {
            animation-name: scoreUpdated;
            animation-duration: 2s;
        }

        img {
            margin-right: 10px;
            height: 30px;
        }

        .text {
            font-size: 20px;
        }
    }
}

@keyframes scoreUpdated {
    0% { background: transparent; }
    50% { background: red; }
    100% { background: transparent; }
}