.start {
    display: flex;
    height: 100%;

    .section-game {
        position: relative;
        color: #ffffff;
        background: #547aa5;
        flex-basis: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .name {
            width: 210px;
            padding: 0 5px;
            margin: 0 10px 10px 10px;
            color: #ffffff;
            background: none;
            border: 1px solid #50d8d7;
            border-radius: 6px;
            outline: none;
            font-size: 26px;
            font-weight: 600;

            &::placeholder {
                color: #fff;
                opacity: 50%;
            }
        }

        button {
            width: 210px;
            height: 40px;
            border: 1px solid #ffffff;
            padding: 5px 10px;
            background: transparent;
            color: #ffffff;
            outline: none;

            &:hover {
                cursor: pointer;
                border-color: #50d8d7;
            }
        }

        .join-url {
            margin: 10px;
            font-size: 20px;
        }
    }

    .section-lobby {
        flex-basis: 25%;
        padding: 20px;
        color: #ffffff;
        background: #4f5165;
    }
}
