.start {
    display: flex;
    position: relative;
    height: 100%;
    flex-basis: 100%;
    color: #ffffff;
    background: #547aa5;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
        width: 210px;
        padding: 0 5px;
        margin: 0 10px 10px 10px;
        color: #ffffff;
        background: none;
        border: 1px solid #50d8d7;
        border-radius: 6px;
        outline: none;
        font-size: 26px;
        font-weight: 600;

        &::placeholder {
            color: #FFF;
            opacity: 50%;
        }
    }

    button {
        width: 210px;
        height: 40px;
        border: 1px solid #ffffff;
        padding: 5px 10px;
        background: transparent;
        color: #ffffff;
        outline: none;

        &:hover {
            cursor: pointer;
            border-color: #50d8d7;
        }
    }

    .join-url {
        margin: 10px;
        font-size: 20px;
    }
}
