@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap");
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.game-space {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
