.meter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;

    .action-text {
        font-size: 16px;
    }

    .guess-input {
        width: 130px;
        padding: 0 5px;
        color: #FFFFFF;
        background: none;
        border: 1px solid #50D8D7;
        border-radius: 6px;
        outline: none;
        text-align: center;
        font-size: 60px;
        font-weight: 600;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    img {
        height: 80px;
        padding: 5px 10px;
    }
}
