.meter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;

    .action-text {
        font-size: 16px;
    }

    .input {
        display: flex;
        width: 100%;
        justify-content: center;

        .guess-input {
            width: 130px;
            padding: 0 5px;
            color: #ffffff;
            background: none;
            border: 1px solid #50d8d7;
            border-radius: 6px;
            outline: none;
            text-align: center;
            font-size: 60px;
            font-weight: 600;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }
        }

        img {
            height: 80px;
            padding: 5px 0 5px 10px;
        }
    }

    .confirm {
        display: flex;
        margin-top: 10px;

        button {
            width: 210px;
            height: 40px;
            border: 1px solid #ffffff;
            padding: 5px 10px;
            background: transparent;
            color: #ffffff;
            outline: none;

            &:hover {
                cursor: pointer;
                border-color: #50d8d7;
            }
        }
    }
}
